<!DOCTYPE html>
<html lang="en">

<head>
    <title>Empleados</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">

</head>

<body>

    <table class="table table-striped">
        <thead class="bg-info">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>DNI</th>
                <th>FranjaHoraria</th>
                <th>Es gerente</th>
                <th>Local</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${empleados}">
                <td><span th:text="${empleado.nombre}" /></td>
                <td><span th:text="${empleado.apellido}" /></td>
                <td><span th:text="${empleado.fechaNacimiento}" /></td>
                <td><span th:text="${empleado.dni}" /></td>
                <td><span th:text="${empleado.franjaHoraria}" /></td>
                <td><span th:text="${empleado.gerente}" /></td>
                <td><span th:text="${empleado.Local.idLocal}" /></td>

                <td><a th:href="@{/empleados/{id}(id=${empleado.idPersona})}">Ver</a></td>

            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" href="/empleados/new">Crear</a>

</body>

</html>