<!DOCTYPE html>
<html>

<head>
    <title>Agregar Empleado</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">

    <script th:src="@{/js/jquery.js}" src="../../static/js/jquery.js"></script>
    <script th:src="@{/js/popper.min.js}" src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="icon" href="../../static/img/logo.ico" th:href="@{/img/logo.ico}">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent !important;">
        <a class="navbar-brand" th:href="@{/}">UNLa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" th:href="@{/productos/}">Productos</a>
                <a class="nav-item nav-link" href="#" th:href="@{/pedidos/}">Pedidos</a>
                <a class="nav-item nav-link" href="#" th:href="@{/lotes/}">Lotes</a>
                <a class="nav-item nav-link" href="#" th:href="@{/empleados/}">Empleados</a>
                <a class="nav-item nav-link" href="#" th:href="@{/clientes/}">Clientes</a>
                <a class="nav-item nav-link" href="#" th:href="@{/locales/}">Locales</a>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0 " type="submit">Buscar</button>
        </form>
        </div>
    </nav>


    <form action="#" class="formulario" th:action="@{/empleados/create}" th:object="${empleado}" method="post">
        <div class="text-center">
            <h2>Agregar Empleado</h2>
        </div>

        <div class="form-group">
            <strong>Nombre</strong>
            <input type="text" class="form-control form-control-sm" th:field="*{nombre}" placeholder="Ingrese nombre" />
        </div>

        <div class="form-group">
            <strong>Apellido</strong>
            <input type="text" class="form-control form-control-sm" th:field="*{apellido}" placeholder="Ingrese apellido" />
        </div>

        <div class="form-group">
            <strong>Fecha de Nacimiento</strong>
            <input type="date" class="form-control form-control-sm" th:field="*{fechaNacimiento}" placeholder="Ingrese fecha de nacimiento" />
        </div>

        <div class="form-group row">
            <strong class="col-sm-2 col-form-label col-form-label-sm">DNI</strong>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" th:field="*{dni}" placeholder="Ingrese DNI" />
            </div>
        </div>

        <div class="form-group row">
            <strong class="col-sm-2 col-form-label col-form-label-sm">Horario</strong>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" th:field="*{franjaHoraria}" placeholder="Ingrese franja horaria" />
            </div>
        </div>

        <div class="form-group">
            <strong>Es gerente</strong>
            <input type="checkbox" th:field="*{gerente}" />
        </div>

        <div class="form-group row">
            <strong class="col-sm-2 col-form-label col-form-label-sm">Local</strong>
            <div class="col-sm-10">
                <select placeholder="Local" th:field="*{local.idLocal}">
                    <option th:each="l : ${locales}" th:value="${l.idLocal}"
                        th:text="${l.idLocal}"></option>
                </select>
            </div>
        </div>

        <div class="text-center">
            <input type="submit" class="btn btn-primary button" value="Crear" />
        </div>
    </form>

</body>

</html>