 <form action="calcularSueldos" class="formulario" method="Post">

        <div class="text-center">
            <h2>Sueldos</h2>
        </div>
        <div class="form-group">
            <strong>Mes</strong>
            <input name="mes" type="number" min="1" max="12"/>
        </div>
        <div class="form-group">
           	<strong>A&ntilde;o</strong>
            <input name="anio" type="number" />
        </div>
        <div class="text-center">
            <input class="btn btn-primary button" type="submit" />
        </div>
    </form>