<!DOCTYPE html>
<html lang="en">

<head>
    <title>Actualizar Empleado</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">


</head>

<body>
    <form action="#" th:action="@{/empleados/update}" th:object="${empleado}" method="post">
        <input type="hidden" th:field="*{idPersona}" />
        <p>
            Nombre: <input type="text" th:field="*{nombre}" />
        </p>
        <p>
            Apellido: <input type="text" th:field="*{apellido}" />
        </p>
        <p>
            Fecha de Nacimiento: <input type="date" th:field="*{fechaNacimiento}" />
        </p>
        <p>
            DNI: <input type="text" th:field="*{dni}" />
        </p>
        <p>
            Franja Horaria: <input type="text" th:field="*{franjaHoraria}" />
        </p>
        <p>
			Es gerente: <input type="checkbox" th:field="*{gerente}" />
		</p>
		<p>Local:
		<select placeholder="Local" th:field="*{local.idLocal}">
			<option th:each="l : ${locales}" th:value="${l.idLocal}"
				th:text="${l.idLocal}"></option>
		</select> 
		</p>
        <br>

        <input type="submit" value="Editar" />

    </form>
    <form action="#" th:action="@{/empleados/delete/{id}(id=${empleado.idPersona})}" method="post">
        <input type="submit" value="delete person" />
    </form>
    <form action="#" th:action="@{/empleados/back}" method="post">
        <input type="submit" value="volver" />
    </form>

</body>

</html>