<!DOCTYPE html>

<html lang="en">

<head>
    <title>Actualizar Stock</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">

    <script th:src="@{/js/jquery.js}" src="../../static/js/jquery.js"></script>
    <script th:src="@{/js/popper.min.js}" src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
</head>

<body>
    <form action="#" class="formulario" th:action="@{/stocks/update}" th:object="${stock}" method="post">
        <input type="hidden" th:field="*{idStock}" />
        <div class="text-center">
            <h2>Editar Stock</h2>
        </div>
        <div class="form-group">
            <strong>Stock del local</strong>
            <select placeholder="Local" th:field="*{local.idLocal}">
                <option th:each= "l : ${locales}" th:value="${l.idLocal}" th:text= "${l.direccion}"></option> 
            </select>
        </div>
        <input type="submit" class="btn btn-success" value="Actualizar" />
    </form>
    <form action="#" class="formulariocomp" th:action="@{/stocks/delete/{id}(id=${stock.idStock})}" method="post">
        <input class="btn btn-danger" type="submit" value="Eliminar stock" />
    </form>
    <form action="#" class="formulariocomp" th:action="@{/stocks/atras}" method="post">
        <input class="btn btn-info" type="submit" value="Volver" />
    </form>

</body>

</html>