<!DOCTYPE html>
<html lang="en">

<head>
    <title>Actualizar Pedido</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</head>

<body>
	
	<form action="#" th:action="@{/pedidos/update}" th:object="${pedido}" method="post">
<input type="hidden" th:field="*{idPedido}" />
<p>
	Cantidad: <input type="number" th:field="*{cantidad}" />
</p>

	<input type="hidden" th:field="*{subtotal}" />

	<select placeholder="Producto" th:field="*{producto.idProducto}"> 
		<option th:each="p : ${productos}" th:value="${p.idProducto}" th:text="${p.nombre}"> </option>
	
	</select>
	
	<select placeholder="Cliente" th:field="*{cliente.idPersona}"> 
		<option th:each="c : ${clientes}" th:value="${c.idPersona}" th:text="${c.nombre} + '' + ${c.apellido}"> </option>
	
	</select>
	
	<p> Empleado:</p>
	
	
	<select placeholder="Empleado" th:field="*{empleado.idPersona}"> 
		<option th:each="e : ${empleados}" th:value="${e.idPersona}" th:text="${e.nombre} + ' ' + ${e.apellido}"> </option>
	
	</select>
	
	<input type="hidden" th:field="*{empleado.Local.idLocal}"/>

<p>
	Estado: <input type="text" th:field="*{aceptado}" />
</p>

<input type="submit" value="Editar" />
</form>

<form action="#" th:action="@{/pedidos/delete/{id}(id=${pedido.idPedido})}" method="post">
	<input type="submit" value="delete pedido" />
</form>

<form action="#" th:action="@{/pedidos/back}" method="post">
	<input type="submit" value="volver" />
</form>

</body>

</html>