<!DOCTYPE html>
<html lang="en">

<head>
    <title>Actualizar Pedido</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">

    <script th:src="@{/js/jquery.js}" src="../../static/js/jquery.js"></script>
    <script th:src="@{/js/popper.min.js}" src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="icon" href="../../static/img/logo.ico" th:href="@{/img/logo.ico}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent !important;">
        <a class="navbar-brand" th:href="@{/}">UNLa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" th:href="@{/productos/}">Productos</a>
                <a class="nav-item nav-link" href="#" th:href="@{/pedidos/}">Pedidos</a>
                <a class="nav-item nav-link" href="#" th:href="@{/stocks/}">Stock</a>
                <a class="nav-item nav-link" href="#" th:href="@{/lotes/}">Lotes</a>
                <a class="nav-item nav-link" href="#" th:href="@{/empleados/}">Empleados</a>
                <a class="nav-item nav-link" href="#" th:href="@{/clientes/}">Clientes</a>
                <a class="nav-item nav-link" href="#" th:href="@{/locales/}">Locales</a>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0 " type="submit">Buscar</button>
        </form>
        </div>
    </nav>

    <form action="#" class="formulario" novalidate th:action="@{/pedidos/update}" th:object="${pedido}" method="post">
        <input type="hidden" th:field="*{idPedido}" />
        <div class="text-center">
            <h2>Editar Pedido</h2>
        </div>

        <div class="form-group">
            <strong>Cantidad</strong>
            <input type="number" min="1" class="form-control form-control-sm" th:field="*{cantidad}" placeholder="Ingrese cantidad" required />
            <div class="invalid-feedback">
                Debe ingresar una cantidad valida
            </div>
        </div>

        <div class="form-group row">
            <strong class="col-sm-2 col-form-label col-form-label-sm">Producto</strong>
            <div class="col-sm-10">
                <select placeholder="Producto" th:field="*{producto.idProducto}" class="form-control form-control-sm" required>
                	<option th:each= "p : ${productos}" th:value="${p.idProducto}" th:text= "${p.nombre}"></option> 
            	</select>
            </div>
        </div>

        <div class="form-group row">
            <strong class="col-sm-2 col-form-label col-form-label-sm">Cliente</strong>
            <div class="col-sm-10">
                <select placeholder="Cliente" th:field="*{cliente.idPersona}" class="form-control form-control-sm" required>
					<option th:each="c : ${clientes}" th:value="${c.idPersona}" th:text="${c.nombre} + ' ' + ${c.apellido}"></option>
				</select>
            </div>
        </div>

        <div class="form-group row">
            <strong class="col-sm-2 col-form-label col-form-label-sm">Vendedor</strong>
            <div class="col-sm-10">
                <select placeholder="Empleado" th:field="*{vendedor.idPersona}" class="form-control form-control-sm" required> 
					<option th:each="e : ${empleados}" th:value="${e.idPersona}" th:text="${e.nombre} +' '+ ${e.apellido}"> </option>
				</select>
            </div>
        </div>

        <div class="form-group">
            <strong>Estado</strong>
            <input type="checkbox" th:field="*{aceptado}" />
        </div>
        <input type="hidden" th:field="*{colaborador.idPersona}" />
        <input type="hidden" th:field="*{vendedor.Local.idLocal}" />
        <div th:if="${not pedido.aceptado}" class="text-center">
            <input class="btn btn-success" type="submit" value="Actualizar" />
        </div>
    </form>
    <div class="text-center">
        <form action="#" class="formulario-delete" th:action="@{/pedidos/delete/{id}(id=${pedido.idPedido})}" method="post">
            <input type="submit" class="btn btn-danger" value="Eliminar Pedido" />
        </form>
    </div>

    <script type="text/javascript">
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('formulario');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</body>

</html>