<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/styledeniedaccess.css}" href="../../static/css/styledeniedaccess.css">
<link rel="icon" href="../../static/img/logo.ico" th:href="@{/img/logo.ico}">

<title>Acceso denegado</title>
</head>
<body>
<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">403</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">Acceso <span>denegado</span>.</span>
    <span class="support">
     <a href="/">Ir a pagina principal</a>
    </span>
  </div>
  <div class="lock"></div>
</div>
</body>
</html>