<!DOCTYPE html>
<html>
<head>
<title>Agregar Producto</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">
</head>
<body>
	
	<form action="#" th:action="@{/productos/create}" th:object="${producto}"
	method="post">
	<p>
		Nombre: <input type="text" th:field="*{nombre}" />
	</p>
	<p>
		Descripcion: <input type="text" th:field="*{descripcion}" />
	</p>
	<p>
		precio: <input type="number" th:field="*{precio}" />
	</p>
	<input type="submit" />
</form>


</body>

</html>

