<!DOCTYPE html>

<html>

<head>
    <title>Actualizar solicitud</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
</head>

<body>

    <form action="#" th:action="@{/solicitudes/update}" th:object="${solicitud}" method="post">
        <input type="hidden" th:field="*{idSolicitud}" />
        <p> Estado del pedido: <input type="checkbox" th:field="*{aceptado}" /></p>
        <input type="submit" value="Editar" />
    </form>
    <form action="#" th:action="@{/solicitudes/delete/{id}(id=${solicitud.idSolicitud})}" method="post">
        <input type="submit" value="Delete solicitud" />
    </form>
    <form action="#" th:action="@{/solicitudes/atras}" method="post">
        <input type="submit" value="volver" />
    </form>

</body>

</html>