<!DOCTYPE html>

<html>

<head>
    <title>Actualizar solicitud</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
</head>

<body>

    <form action="#" th:action="@{/solicitudes/update}" th:object="${solicitud}" method="post">
        <input type="hidden" th:field="*{idSolicitud}" />
        <p>
            Fecha: <input type="date" th:field="*{fecha}" />
        </p>
        <p>
            Cantidad: <input type="text" th:field="*{cantidad}" />
        </p>
        <p> Producto:
        <select placeholder="Producto" th:field="*{producto.idProducto}"> 
			<option th:each="p : ${productos}" th:value="${p.idProducto}" th:text="${p.nombre}"> </option>
		</select>
		</p>
        <p> Vendedor:
        <select placeholder="Empleado" th:field="*{vendedor.idPersona}"> 
			<option th:each="e : ${empleados}" th:value="${e.idPersona}" th:text="${e.nombre} +' '+ ${e.apellido}"> </option>
		</select>
		</p>
        <p> Colaborador:
        <select placeholder="Empleado" th:field="*{colaborador.idPersona}"> 
			<option th:each="e : ${empleados}" th:value="${e.idPersona}" th:text="${e.nombre} +' '+ ${e.apellido}"> </option>
		</select>
		</p>
        <p> Estado del pedido: <input type="checkbox" th:field="*{aceptado}" /></p>
        <input type="submit" value="Editar" />
    </form>
    <form action="#" th:action="@{/solicitudes/delete/{id}(id=${solicitud.idSolicitud})}" method="post">
        <input type="submit" value="Delete solicitud" />
    </form>
    <form action="#" th:action="@{/solicitudes/atras}" method="post">
        <input type="submit" value="volver" />
    </form>

</body>

</html>