<!DOCTYPE html>
<html lang="en">

<head>
    <title>Agregar Lote</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">

    <script th:src="@{/js/jquery.js}" src="../../static/js/jquery.js"></script>
    <script th:src="@{/js/popper.min.js}" src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

    <link rel="icon" href="../../static/img/logo.ico" th:href="@{/img/logo.ico}">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent !important;">
        <a class="navbar-brand" th:href="@{/}">UNLa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" th:href="@{/productos/}">Productos</a>
                <a class="nav-item nav-link" href="#" th:href="@{/pedidos/}">Pedidos</a>
                <a class="nav-item nav-link" href="#" th:href="@{/stocks/}">Stock</a>
                <a class="nav-item nav-link" href="#" th:href="@{/lotes/}">Lotes</a>
                <a class="nav-item nav-link" href="#" th:href="@{/empleados/}">Empleados</a>
                <a class="nav-item nav-link" href="#" th:href="@{/clientes/}">Clientes</a>
                <a class="nav-item nav-link" href="#" th:href="@{/locales/}">Locales</a>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0 " type="submit">Buscar</button>
        </form>
        </div>
    </nav>

    <form action="#" class="formulario" th:action="@{/lotes/create}" th:object="${lote}" method="post">
        <div class="text-center">
            <h2>Agregar Lote</h2>
        </div>
        <div class="form-group">
            <strong>Cantidad</strong>
            <input type="text" class="form-control form-control-sm" th:field="*{cantidadActual}" placeholder="Ingrese cantidad" />
        </div>
        <div class="form-group">
            <strong>Fecha de ingreso</strong>
            <input type="date" class="form-control form-control-sm" th:field="*{fechaIngreso}" placeholder="Ingrese fecha de ingreso" />
        </div>
        <div class="form-group row">
            <strong class="col-sm-2 col-form-label col-form-label-sm">Producto</strong>
            <div class="col-sm-10">
                <select placeholder="Producto" th:field="*{producto.idProducto}" class="form-control form-control-sm">
                	<option th:each= "p : ${productos}" th:value="${p.idProducto}" th:text= "${p.descripcion}"></option> 
            	</select>
            </div>
        </div>
        <div class="form-group row">
            <strong class="col-sm-2 col-form-label col-form-label-sm">Stock</strong>
            <div class="col-sm-10">
                <select placeholder="Stock" th:field="*{stock.idStock}" class="form-control form-control-sm">
			    	<option th:each= "s : ${stocks}" th:value="${s.idStock}" th:text= "${s.codigo}"></option> 
		   		</select>
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-primary button" type="submit" value="Agregar" />
        </div>
    </form>

</body>

</html>