<!DOCTYPE html>
<html>

<head>
    <title>Informacion</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">

    <script th:src="@{/js/jquery.js}" src="../../static/js/jquery.js"></script>
    <script th:src="@{/js/popper.min.js}" src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="icon" href="../../static/img/logo.ico" th:href="@{/img/logo.ico}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent !important;">
        <a class="navbar-brand" th:href="@{/}">UNLa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" th:href="@{/productos/}">Productos</a>
                <a class="nav-item nav-link" href="#" th:href="@{/pedidos/}">Pedidos</a>
                <a class="nav-item nav-link" href="#" th:href="@{/lotes/}">Lotes</a>
                <a class="nav-item nav-link" href="#" th:href="@{/empleados/}">Empleados</a>
                <a class="nav-item nav-link" href="#" th:href="@{/clientes/}">Clientes</a>
                <a class="nav-item nav-link" href="#" th:href="@{/locales/}">Locales</a>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0 " type="submit">Buscar</button>
        </form>
        </div>
    </nav>

    <div class="container banner">

        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <hr>
            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti enim eveniet minima asperiores modi veniam accusamus nobis illo rem voluptatem</p>
            <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium illum magnam perspiciatis, perferendis odio sit at sapiente unde ducimus voluptates</p>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequuntur ad harum dignissimos quam beatae blanditiis eum, dolore expedita reiciendis.</p>

        </div>

    </div>

</body>

</html>